<div class="container">
    <h1 style="text-align: center; color: goldenrod;">{{title}}</h1>
      <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label  style="margin-left: 5px;" for="oldPassword" >Stare hasło</label>
            <input type="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" id="oldPassword" placeholder="stare hasło"/>
          </div>
          <div class="form-control">
            <label  style="margin-left: 5px;" for="newPassword" >Nowe haslo</label>
            <input type="newPassword" name="newPassword" [(ngModel)]="newPassword" id="newPassword" placeholder="nowe haslo"/>
          </div>
          <div class="form-control">
            <label  style="margin-left: 5px;" for="newPassword2" >Powtórz nowe haslo</label>
            <input type="newPassword2" name="newPassword2" [(ngModel)]="newPassword2" id="newPassword2" placeholder="potwórz nowe hasło"/>
          </div>
          
        
        <input type="submit" value="Dodaj" class="btn btn-block" style="background-color:goldenrod" >
  
      </form>
      
  </div>