<div class="container">

<div class="select" style="width:200px;">
    <select (change)="selectChangeHandler($event)" id=standard-select style="margin-bottom: 4%; margin-left: 5px; " class="form-select" [(ngModel)]="selectedType">
        <option *ngFor="let e of employees" [value]="e.userId">
            {{ e.firstName + " " + e.lastName }}
        </option>
        <span class="focus"></span>
    </select>
</div>
<h1 style="text-align: center; color: goldenrod;">{{title}}</h1>
<table class="table"> 
    <thead>
        <tr>
            <th>Typ</th>
            <th >Data początkowa</th>
            <th>Data końcowa</th>
            <th>Czy zatwierdzona</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of absences">
            <td>{{getTypeName(a.absenceTypeId)}}</td>
            <td>{{getDate(a.startDate)}}</td>
            <td>{{getDate(a.endDate)}}</td>
            <td>{{(translateBool(a.confirmed))}}</td>
        </tr>
    </tbody>
</table>
</div>