<div class="container">
<h1 style="text-align: center; color: goldenrod;">{{title}}</h1>
<table class="table"> 
    <thead>
        <tr>
            <th>Typ</th>
            <th >Data początkowa</th>
            <th>Data końcowa</th>
            <th>Czy zatwierdzona</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of absences">
            <td>{{getTypeName(a.absenceTypeId)}}</td>
            <td>{{a.startDate | date:'shortDate'}}</td>
            <td>{{a.endDate | date:'shortDate'}}</td>
            <td>{{(translateBool(a.confirmed))}}</td>
        </tr>
    </tbody>
</table>
</div>