<div class="container">
    <h1 style="text-align: center; color: goldenrod;">{{title}}</h1>
      <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label style="margin-left: 5px;"  for="firstname"  >Imię</label>
            <input type="text" name="firstname" id="firstname" [(ngModel)]="firstname" placeholder="imię"/>
          </div>
          <div class="form-control">
            <label style="margin-left: 5px;"  for="lastname"  >Nazwisko</label>
            <input type="text" name="lastname" id="lastname" [(ngModel)]="lastname" placeholder="nazwisko"/>
          </div>
        <div class="form-control">
          <label style="margin-left: 5px;"  for="username"  >Login</label>
          <input type="text" name="username" id="username" [(ngModel)]="username" placeholder="login"/>
        </div>
        <div class="form-control">
          <label  style="margin-left: 5px;" for="password" >Haslo</label>
          <input type="text" name="password" [(ngModel)]="password" id="password" placeholder="hasło"/>
        </div>
        
        <input [disabled]="loading" type="submit" value="Dodaj" class="btn btn-block" style="background-color:goldenrod" >
  
      </form>
      
  </div>