<div class="nav">
  <div>
    <button
      (click)="logOut()"
      class="btn btn-block"
      style="background-color: gray"
    >
      Wyloguj
    </button>
  </div>
  <div>
    <button *ngIf="isWorker" routerLink="/add-request" class="btn btn-block">
      Dodaj prośbę
    </button>
  </div>
  <div>
    <button *ngIf="isAdmin" routerLink="/add-worker" class="btn btn-block">
      Dodaj pracownika
    </button>
  </div>
  <div>
    <button
      *ngIf="isManager"
      routerLink="/leave-requests"
      class="btn btn-block"
    >
      Prośby o urlop
    </button>
  </div>
  <div>
    <button *ngIf="isWorker" routerLink="/leaves" class="btn btn-block">
      Moje urlopy
    </button>
  </div>
  <div>
    <button *ngIf="isManager" routerLink="/leaves-types" class="btn btn-block">
      Typy urlopów
    </button>
  </div>
  <div>
    <button *ngIf="isManager" routerLink="/report" class="btn btn-block">
      Raport
    </button>
  </div>
  <div>
    <button *ngIf="isManager" routerLink="/roles" class="btn btn-block">
      Role
    </button>
  </div>
  <div>
    <button routerLink="/help" class="btn btn-block">Pomoc</button>
  </div>
</div>
