<div class="container">
    <h1 style="text-align: center; color: goldenrod;">{{title}}</h1>
    <form class="add-form" (ngSubmit)="onSubmit()">           
            <div class="form-control">
                <label style="margin-left: 5px;"  for="startDate"  >Początek urlopu</label>
                <input type="text" name="startDate" id="startDate" [(ngModel)]="startDate" placeholder="data"/>
            </div>
            <div class="form-control">
                <label style="margin-left: 5px;"  for="endDate"  >Koniec urlopu</label>
                <input type="text" name="endDate" id="endDate" [(ngModel)]="endDate" placeholder="data"/>
            </div>
            <div class="select">
                <select id="typeCombo" style="width: 100%; margin-left: 5px; font-size: large;" class="form-control" [(ngModel)]="selectedType">
                    <option *ngFor="let n of leaveTypes">
                        {{ n.value }}
                    </option>
                </select>
            </div>
        <input [disabled]="loading" type="submit" value="Wnioskuj" class="btn btn-block">
  
    </form>
    
    
</div>