<div class="container">

    <h1 style="text-align: center; color: goldenrod;">{{title}}</h1>
    <table style="width: 100%; text-align: left;"> 
        <thead>
            <tr>
                <th >Typ</th>
                <th >Data początkowa</th>
                <th >Data końcowa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of requests">
                <td>{{r.type}}</td>
                <td>{{r.startDate}}</td>
                <td>{{r.endDate}}</td>
                <td style="width: 20%;"> <button  (click)="onSubmit(r)" type="submit" value="Zatwierdź" class="btn btn-block">Zatwierdź</button></td>
                <td style="width: 20%;"> <button  (click)="onReject(r.id)" type="reject" value="Odrzuć" class="btn btn-block">Odrzuć</button></td>
                <td>
                    <select style="width: 100%; margin-left: 5px; font-size: large;" class="form-select" [(ngModel)]="r.employee">
                        <option *ngFor="let e of employees">
                            {{e.firstName + " " + e.lastName}}
                        </option>
                        <span class="focus"></span>
                        </select>
                    </div>
                </td>           
            </tr>
        </tbody>
    </table>
    </div>