<div class="container">

    <h1 style="text-align: center; color: goldenrod;">{{title}}</h1>
    <table style="width: 100%; text-align: left;"> 
        <thead>
            <tr>
                <th >Typ</th>
                <th >Data początkowa</th>
                <th >Data końcowa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let people of data">
                <td>{{people.type}}</td>
                <td>{{people.startDate}}</td>
                <td>{{people.endDate}}</td>
                <td style="width: 20%;"> <button  (click)="onSubmit()" type="submit" value="Zatwierdź" class="btn btn-block">Zatwierdź</button></td>
                <td style="width: 20%;"> <button  (click)="onReject()" type="reject" value="Odrzuć" class="btn btn-block">Odrzuć</button></td>
                <td> <div class="select" style="width:200px;">
                    <select id=standard-select style="width: 100%; margin-left: 5px; font-size: large;" class="form-select" [(ngModel)]="people.selectedWorker">
                    <option *ngFor="let n of workers">{{ n }}</option>
                    <span class="focus"></span>
                    
                </select></div></td>
                
            </tr>
        </tbody>
    </table>
    </div>