<div class="container">
    <h1 style="text-align: center; color: goldenrod;">{{title}}</h1>
      <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label style="margin-left: 5px;"  for="roleName"  >Nazwa roli</label>
            <input type="text" name="roleName" id="roleName" [(ngModel)]="roleName" placeholder="nazwa roli"/>
          </div>
          <div class="select" style="width: 97%">
              <select (change)="setAccessLevel($event)" class="form-select" [(ngModel)]="accessLevel">
                  <option *ngFor="let a of accessLevels">{{a}}</option>
                  <span class="focus"></span>
              </select>
          </div>
        <input type="submit" value="Dodaj" class="btn btn-block" style="background-color:goldenrod" >
  
      </form>
      
  </div>