<div class="container">
    <h1 style="text-align: center; color: goldenrod;">{{title}}</h1>
    <table class="table" > 
        <thead>
            <tr>
                <th >Typ</th>
                <th> Poziom dostępu</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of roles">
                <td>{{translate(r.name)}}</td>
                <td>
                    <div class="select" style="width: 97%">
                        <select class="form-select" [(ngModel)]="r.accessLevel">
                            <option *ngFor="let a of accessLevels">{{a}}</option>
                            <span class="focus"></span>
                        </select>
                    </div>
                </td>
                <td style="width: 20%;"> <button (click)="onDelete(r.roleId)" class="btn btn-block" style=" margin-top: 20px;">Usuń</button></td>  
            </tr>
        </tbody>
    </table>
        <div>
            <button [routerLink]="['/add-role']" class="btn btn-block">Dodaj</button>
        </div>
        <div>
            <button  (click)="Accept()" class="btn btn-block">Zatwierdź</button>
        </div>
    </div>